<div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" value="<%= locals.article.title %>" required>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description"><%= locals.article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea class="form-control" name="markdown" id="markdown" rows="10"
        required><%= locals.article.markdown %></textarea>
</div>
<a href="/articles" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>